
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Diş Hekimi Mine Özsoy</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="~/Content/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Content/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/Content/css/style.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="51">
   
    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-light navbar-light">
        <div class="container-fluid">
            <img src="~/Content/img/png-transparent-human-tooth-drawing-dentist-teeth-love-white-text.png" border="0" align="right" width="50" height="50" />
            <br />
            <a href="index.html" class="navbar-brand">Özsoy Dent</a>

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="#home" class="nav-item nav-link active">Anasayfa</a>
                    <a href="#about" class="nav-item nav-link">Hakkımda</a>
                    <a href="#experience" class="nav-item nav-link">Deneyim</a>
                    <a href="#price" class="nav-item nav-link">Ücret Bilgisi</a>
                    <a href="#contact" class="nav-item nav-link">İletişim</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Nav Bar End -->
    <!-- Hero Start -->
    <div class="hero" id="home">
        <div class="container-fluid">
            <div class="row align-items-center">
                @*<div class="col-sm-12 col-md-6">
                    <div class="hero-content">
                        <div class="hero-text">
                            <p>Pedodontist</p>
                            <h1>Mine Özsoy</h1>
                            
                            @*<div class="typed-text">Web Designer, Web Developer, Front End Developer, Apps Designer, Apps Developer</div>*@
                        </div>
                        @*<div class="hero-btn">
                          
                            <a class="btn" href="">Benimle İletişime Geçin</a>
                        </div>*@
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 d-none d-md-block">
                    <div class="hero-image">
                        <img src="~/Content/img/1.jpg" alt="Hero Image">
                    </div>
                </div>
         
    <!-- Hero End -->
    <!-- About Start -->
    <div class="about wow fadeInUp" data-wow-delay="0.1s" id="about">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="~/Content/img/WhatsApp Image 2021-07-29 at 14.12.15.jpeg" alt="Image">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <div class="section-header text-left">
                            <p>Hakkımda</p>
                            <h2>7 Yıllık Uzman Deneyimi</h2>
                        </div>
                        <div class="about-text">
                            <p>
                                İstanbul Üniversitesi-Diş Hekimliği'nden 2017 yılında mezun oldum.Sonrasında uzmanlık sınavına hazırlanarak Akdeniz Üniversitesi-Diş Hekimliği Fakültesi Çocuk Diş Hekimliği alanında uzmanlığımı tamamlamaktayım.
                            </p>
                        </div>
                        <div class="skills">
                            <div class="skill-name">
                                <p>Diş Hekimliği</p><p>85%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="skill-name">
                                <p>Çocuk Diş Hekimliği</p><p>55%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                           
                        </div>
                        <a class="btn" href="">Daha fazla bilgi için benimle iletişime geçebilirsiniz.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- Service Start -->

    <!-- Service End -->
    <!-- Experience Start -->
    <div class="experience" id="experience">
        <div class="container">
            <header class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <p>Kariyer Adımlarım</p>
            </header>
            <div class="timeline">
                <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                    <div class="timeline-text">
                        <div class="timeline-date">2019 - 2023</div>
                        <h2>Uzmanlık</h2>
                        <h4>Akdeniz Üniversitesi,Antalya</h4>
                        <p>
                            Uzmanlığımı Akdeniz Üniversitesi Diş Hekimliği Fakültesi Pedodonti'de yaptım.
                        </p>
                    </div>
                </div>
                <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                    <div class="timeline-text">
                        <div class="timeline-date">2012-2017</div>
                        <h2>Lisans</h2>
                        <h4>İstanbul Üniversitesi,İstanbul</h4>
                        <p>
                            Lisansımı İstanbul Üniversitesi Diş Hekimliği Fakültesi'nde tamamladım.
                        </p>
                    </div>
                </div>
                <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                    <div class="timeline-text">
                        <div class="timeline-date">2008-2012</div>
                        <h2>Lise</h2>
                        <h4>Ergün Öner-Mehmet Öner Anadolu Lisesi,İstanbul</h4>
                        <p>
                            Lise eğitimimi Ergün Öner-Mehmet Öner Anadolu Lisesi'nde Sayısal/Fen bölümünde tamamladım.
                        </p>
                    </div>
                </div>
                <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                    <div class="timeline-text">
                        <div class="timeline-date">2000-2008</div>
                        <h2>İlköğretim-OrtaÖğretim</h2>
                        <h4>Nene Hatun İlköğretim Okulu</h4>
                        <p>
                            İlk ve orta öğrenimimi Nene Hatun İlköğretüm Okulu'nda tamamladım.
                        </p>
                    </div>
                </div>
           </div>
        </div>
    </div>
    <!-- Job Experience End -->
    <!-- Banner Start -->
  
    <!-- Banner End -->
    <!-- Portfolio Start -->
    
    <!-- Portfolio End -->
    <!-- Banner Start -->
 
    <!-- Banner End -->
    <!-- Price Start -->
    <div class="price" id="price">
        <div class="container">
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <p>Ücret Bilgisi</p>
                <h4>En iyi fiyat bilgisi için iletişim kısmında yer alan telefon numarası ve e-mail adresimle iletişime geçebilirsiniz.</h4>
                
                <div class="price-action">
                    <a class="btn" href="">Hemen İletişime Geçin</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.5s">
                     <div class="price-footer">
                            
                        </div>
                    </div>
                </div>
             </div>
        </div>

    <!-- Price End -->
    <!-- Testimonial Start -->
   
    <!-- Testimonial End -->
    <!-- Team Start -->
    
    <!-- Team End -->
    <!-- Contact Start -->
  
    <!-- Contact End -->
    <!-- Blog Start -->
    
    <!-- Blog End -->
    <!-- Footer Start -->
    <div class="footer wow fadeIn" data-wow-delay="0.3s">
        <div class="container-fluid">
            <div class="container">
                <div class="footer-info">
                    <h2>Mine Özsoy</h2>
                    <h3>Akdeniz Üniversitesi Diş Hekimliği Fakültesi,Antalya</h3>
                    <div class="footer-menu">
                        <p>mineozsoy@akdenizuni.com</p>
                    </div>
                    <div class="footer-social">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-youtube"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="container copyright">
                <p>&copy; <a href="#">Sevgi Tellioğlu</a> tarafından Mine Özsoy adına yapılmıştır.</p>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to top button -->
    <a href="#" class="btn back-to-top"><i class="fa fa-chevron-up"></i></a>


    <!-- Pre Loader -->
    <div id="loader" class="show">
        <div class="loader"></div>
    </div>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/lib/easing/easing.min.js"></script>
    <script src="~/Content/lib/wow/wow.min.js"></script>
    <script src="~/Content/lib/waypoints/waypoints.min.js"></script>
    <script src="~/Content/lib/typed/typed.min.js"></script>
    <script src="~/Content/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Content/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/Content/lib/lightbox/js/lightbox.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/Content/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/Content/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/Content/js/main.js"></script>
</body>
</html>
